.page {
  $side-padding: 48px;
  margin: auto;
  padding: 0 48px;
  width: 100%;
  padding-bottom: 32px;

  .page-inner {
    margin: auto;
    max-width: var(--content-width);
  }

  &.pink {
    background-color: var(--mathsoc-pink);

    color: white;
    p,
    h1,
    h2,
    h3,
    a,
    a:visited {
      color: white;
    }

    a {
      text-decoration: underline;
    }
  }

  &.large {
    .page-inner {
      max-width: 1000px;
    }
  }
}
