@use "variables" as *;
@use "sass-mixins" as *;

body {
  background-color: var(--background);
  font-family: var(--primary-font);
  color: var(--text-color);
  margin: 0;

  display: flex;
  flex-direction: column;

  position: relative;
  min-height: 100vh;
  font-weight: 300;
}

#main-content {
  flex-grow: 1;
  display: flex;
}

h1,
h2,
h3 {
  @include title-font;
  color: var(--mathsoc-pink);
}

h1 {
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

h2 {
  font-size: 1.8em;
}

h3 {
  font-size: 1.6em;
}

h4 {
  font-size: 1.4em;
}

p {
  color: var(--text-color);
  overflow-wrap: break-word;
}

* {
  box-sizing: border-box;
}

a,
a:hover,
a:visited {
  color: var(--mathsoc-pink);
}

// Reset buttons to not use default appearance
button {
  appearance: none;
  height: unset;
  width: unset;
  background: none;
  border: none;
  font-size: inherit;
  font-family: var(--primary-font);
  color: var(--text-color);
  box-sizing: border-box;
  cursor: pointer;
}

$input-padding: 8px;

input,
select,
textarea {
  padding: 8px;

  margin: 0;
  border: 0;
  background-color: var(--background-hover);
  color: var(--text-color);

  font-family: var(--primary-font);

  &::placeholder {
    color: #aaaaaa;
  }
}

section:last-child {
  padding-bottom: 30px;
}

.highlight {
  background: yellow;
  color: inherit;
  padding: 0 2px;
  border-radius: 2px;
}

a {
  text-decoration: none;
}

strong {
  font-weight: 500;
}

table {
  width: 100%;
  margin: 24px 0;
  border-collapse: collapse;
  font-size: 0.8rem;

  th {
    text-transform: uppercase;
    font-weight: 300;
    text-align: left;
  }

  td,
  th {
    padding: 8px;
  }

  thead {
    tr {
      background-color: var(--mathsoc-pink);
      color: white;
    }
  }

  tbody {
    tr:nth-child(odd) {
      background-color: var(--background);
    }

    tr:nth-child(even) {
      background-color: var(--background-2);
    }
  }
}
