@use "../sass-mixins" as *;

#homepage {
  text-align: center;

  h1 {
    color: white;
  }

  .home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: var(--content-width);
    margin: auto;

    gap: 45px;
    z-index: 1;
    position: relative;

    color: var(--inverted-text-color);

    .section-head {
      font-size: 2.5em;
    }
  }

  #logo {
    display: block;
    text-align: center;
    width: 80vw;
    height: 300px;
    position: relative;
  }

  .homepage-buttons,
  .social-buttons {
    display: flex;
    gap: 60px;
    text-decoration: none;

    @include phone-down {
      flex-direction: column;
      gap: 10px;
    }
  }

  .social-buttons {
    display: flex;

    .social-button {
      color: var(--inverted-text-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      padding: 5px;
      height: 100px;

      .social-icon {
        margin-bottom: 10px;
        height: 40px;
      }
    }
  }
}
