@use "../../sass-mixins" as *;

.button,
a.button,
a.button:visited {
  padding: 16px 60px;
  border: 1px solid white;
  text-decoration: none !important;
  transition: 0.15s linear;
  margin: 16px;
  display: block;
  text-align: center;
  @include title-font;

  &.pink {
    color: var(--mathsoc-pink);
    border-color: var(--mathsoc-pink);
    &:visited {
      color: var(--mathsoc-pink);
    }

    &:hover,
    &:focus {
      background-color: var(--mathsoc-pink);
      color: white !important;

      &:visited {
        color: white !important;
      }
    }
  }

  &.white {
    color: white;
    &:visited {
      color: white;
    }
  }

  &.small {
    padding: 4px;
  }

  &:hover,
  &:focus {
    background-color: white;
    color: var(--mathsoc-pink) !important;

    &:visited {
      color: var(--mathsoc-pink) !important;
    }
  }

  &:disabled {
    color: var(--mathsoc-grey-2);
    border-color: var(--mathsoc-grey-2);
    cursor: unset;

    &:hover {
      color: var(--mathsoc-grey-2) !important;
      background-color: var(--background-color);
    }
  }
}
